openapi: 3.0.1
info:
  title: Finazon API
  description: |-
    ## API reference

    Finazon is a comprehensive financial data marketplace that enables developers to effortlessly integrate a wide variety of global datasets, including stocks, ETFs, cryptocurrencies, and more, all with fully customizable parameters.

    The Finazon API is built around [REST](https://en.wikipedia.org/wiki/Representational_state_transfer) principles, featuring resource-oriented URLs with predictable behavior. The API accepts [form-encoded](https://en.wikipedia.org/wiki/POST_(HTTP)#Use_for_submitting_web_forms) request bodies, returns JSON-encoded responses, and utilizes standard HTTP response codes, authentication methods, and verbs.

    The Finazon API doesn't support bulk updates. You can work on only one instrument per request.

    ## Authentification

    To authenticate requests, the Finazon API requires [API keys](https://finazon.io/account/developers/api-keys). You can obtain, view, and manage your API keys through the [Finazon Dashboard](https://finazon.io/account/home).

    Your API keys hold significant privileges, so ensure their security by not sharing your secret API keys in publicly accessible areas, such as GitHub repositories, client-side code, or any other public platforms.

    All API requests must be made over [HTTPS](http://en.wikipedia.org/wiki/HTTP_Secure). Calls over plain HTTP will fail, as will API requests without authentication.

    Once you have your API key, include it in the parameters as follows:

    ```bash
    https://api.finazon.io/latest?apikey=YOUR_API_KEY
    ```

    Alternatively, pass it as a request header:

    ```bash
    Authorization: apikey YOUR_API_KEY
    ```

    ## Versioning

    Whenever [backwards-incompatible](https://support.finazon.io/en/articles/7792859-api-upgrades#h_1e014217bf) changes are introduced to the API, a new dated version is released. Consult our [API upgrades guide](https://support.finazon.io/en/articles/7792859-api-upgrades) for more information on backwards compatibility, and view our API changelog for all API updates.

    To always use the most up-to-date version, specify it as `/latest`:

    ```bash
    https://api.finazon.io/latest
    ```

    To access the most recent version of `v1.*`, use the following:

    ```bash
    https://api.finazon.io/v1

    ```

    Or, to retrieve a specific version, call:

    ```bash

    https://api.finazon.io/v1.0
    ```

    Finazon will provide advance notice before deprecating older API versions, giving developers ample time to migrate to the updated version.

    ## Endpoints structure

    The Finazon API adheres to a consistent and structured pattern for its endpoints. The base URL for all requests is:

    ```bash
    https://api.finazon.io/
    ```

    API endpoints are organized by resource types, including universal resources accessible across all publishers and publisher-specific resources. For example, the `/time_series`
    endpoint is compatible with all publishers that support this data format. Such responses will be standardized across all datasets, facilitating rapid integration of new markets into your applications.

    ```bash
    https://api.finazon.io/latest/{{resource}}
    https://api.finazon.io/latest/time_series
    ```

    Additionally, datasets may contain unique data exclusive to that dataset. In such cases, you might want to call a separate endpoint specifying the publisher to gather more data. For instance, the [Binance](https://finazon.io/dataset/binance) dataset time series can be requested as:

    ```bash

    https://api.finazon.io/latest/{{publisher}}/{{resource}}
    https://api.finazon.io/latest/binance/time_series
    ```

    ## Parameters

    Each API request has its own set of required and optional parameters. Parameters should be separated by an ampersand. Parameter names are case-sensitive, while parameter values are not. Each API request has its own set of required and optional parameters. Parameters should be separated by an ampersand. Parameter names and parameter values are case-sensitive

    ```bash
    https://api.finazon.io/latest/time_series?dataset=sip_non_pro&ticker=AAPL&interval=1m&apikey=
    ```

    ### Pagination

    All API resources supporting bulk fetches are retrieved via "list" API methods. For example, you can list time series, list trades, and list quotes. These list API methods share a common structure, accepting at least these five parameters: `page`, `page_size`, `order`, `start_at`, and `end_at`.

    The response of a list API method represents a single page in a reverse chronological stream of objects. If you do not specify `start_at` or `end_at`, you will receive the first page of this list, containing the newest objects. By default, you will receive 10 objects if you do not specify an alternative value for `page_size`. You can specify `start_at` equal to the T (timestamp) value of an item to retrieve the page of older objects occurring immediately after the specified timestamp in the reverse chronological stream. Similarly, you can specify `end_at` to receive a page of newer objects occurring immediately before the named object in the stream. You can use one of `start_at` or `end_at` or both. Objects in a page always appear in reverse chronological order, unless `order` is specified.

    ## Errors

    Finazon employs standard HTTP response codes to signify the success or failure of an API request. Generally, the response codes can be interpreted as follows:

    `2xx` range codes indicate a successful request.

    `4xx` range codes signify an error resulting from the provided information (e.g., invalid API key, API rate limit exceeded, etc.).

    `5xx` range codes represent errors originating from Finazon's servers (these are rare occurrences).

    For all `4xx`errors that can be addressed programmatically (e.g., endpoint not found), an error message is included to succinctly explain the reported issue. This allows developers to quickly identify and resolve errors in their API requests.

     status | code | message |
    --------|:-----|:--------|
     400 |  INVALID_PARAMETER | The **{parameter_name}** parameter is missing or invalid. |
     400 |  INVALID_DATE_RANGE | The requested date range is invalid or unsupported. |
     400 |  UNSUPPORTED_MARKET | The requested market or exchange is not supported by the API. Please check the supported markets and try again. |
     400 |  INVALID_TICKER | The provided ticker is invalid or unsupported. |
     401 |  UNAUTHORIZED_ACCESS | You are not authorized to access the requested endpoint or you have insufficient permissions. |
     404 |  ENDPOINT_NOT_FOUND | The requested endpoint **{endpoint_name}** does not exist or could not be found. |
     429 |  API_RATE_LIMIT_EXCEEDED | You have exceeded the allowed number of API calls within the minute. Please wait and try again later. |
     401 |  INVALID_API_KEY | The provided API key is invalid or has expired. Please check your API key and try again |
     408 |  REQUEST_TIMEOUT | The request took too long to complete and timed out. Please try again later or reduce the complexity of your query. |
     503 |  DATA_UNAVAILABLE | The requested data is temporarily unavailable or not supported. Please try again later or check the availability of the data. |
     500 |  INTERNAL_SERVER_ERROR | An error occurred on the server-side while processing the request. Please try again later. If the issue persists, contact support. |
  version: v1.2
servers:
- url: https://api.finazon.io/v1.2/
security:
- api_key: []
paths:
  /api_usage:
    get:
      tags:
      - Reference
      summary: Api usage
      description: Returns a list of datasets with available API calls and limits.
      operationId: GetApiUsage
      parameters:
      - name: product
        in: query
        description: Product code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Product
        x-go-name: Product
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUsageResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiUsageResponseBody'
      security:
      - api_key: []
      x-beta: "false"
      x-group: Personal
  /benzinga/dividends_calendar:
    get:
      tags:
      - Data
      summary: Dividends calendar
      description: Returns the dividends calendar from Benzinga.
      operationId: GetBenzingaDividendsCalendar
      parameters:
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
          x-order: "10"
        x-go-name: Ticker
        x-order: "10"
      - name: date
        in: query
        description: Specifies the exact date to get the data for
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Date
        x-go-name: Date
      - name: start_at
        in: query
        description: Filter events by start time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: StartAt
        x-go-name: StartAt
      - name: end_at
        in: query
        description: Filter events by end time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: EndAt
        x-go-name: EndAt
      - name: page
        in: query
        description: Specific page of a paginated result to be displayed
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
          x-go-name: Page
        x-go-name: Page
      - name: page_size
        in: query
        description: Number of items displayed per page in a paginated result
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          type: integer
          format: int32
          default: 100
          x-go-name: PageSize
        x-go-name: PageSize
      - name: order
        in: query
        description: Sorting order of the output series
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: desc
          enum:
          - desc
          - asc
          x-go-name: Order
          x-order: "20"
        x-go-name: Order
        x-order: "20"
      - name: cqs
        in: query
        description: Filter by cqs symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cqs
          x-order: '"5000"'
        x-go-name: Cqs
        x-order: '"5000"'
      - name: cik
        in: query
        description: Filter by cik code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cik
          x-order: '"5010"'
        x-go-name: Cik
        x-order: '"5010"'
      - name: cusip
        in: query
        description: Filter by cusip code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cusip
          x-order: '"5020"'
        x-go-name: Cusip
        x-order: '"5020"'
      - name: isin
        in: query
        description: Filter by isin code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Isin
          x-order: '"5030"'
        x-go-name: Isin
        x-order: '"5030"'
      - name: composite_figi
        in: query
        description: Filter by composite figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: CompositeFigi
          x-order: '"5040"'
        x-go-name: CompositeFigi
        x-order: '"5040"'
      - name: share_figi
        in: query
        description: Filter by share class figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: ShareFigi
          x-order: '"5050"'
        x-go-name: ShareFigi
        x-order: '"5050"'
      - name: lei
        in: query
        description: Filter by lei code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Lei
          x-order: '"5060"'
        x-go-name: Lei
        x-order: '"5060"'
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenzingaDividendsCalendarResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenzingaDividendsCalendarResponseBody'
      security:
      - api_key: []
      x-group: Dataset specific/Benzinga
      x-order: "10"
      x-short-url: "true"
  /benzinga/earnings_calendar:
    get:
      tags:
      - Data
      summary: Earnings calendar
      description: Returns the earnings calendar from Benzinga.
      operationId: GetBenzingaEarningsCalendar
      parameters:
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
          x-order: "10"
        x-go-name: Ticker
        x-order: "10"
      - name: date
        in: query
        description: Specifies the exact date to get the data for
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Date
        x-go-name: Date
      - name: start_at
        in: query
        description: Filter events by start time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: StartAt
        x-go-name: StartAt
      - name: end_at
        in: query
        description: Filter events by end time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: EndAt
        x-go-name: EndAt
      - name: page
        in: query
        description: Specific page of a paginated result to be displayed
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
          x-go-name: Page
        x-go-name: Page
      - name: page_size
        in: query
        description: Number of items displayed per page in a paginated result
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          type: integer
          format: int32
          default: 100
          x-go-name: PageSize
        x-go-name: PageSize
      - name: order
        in: query
        description: Sorting order of the output series
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: desc
          enum:
          - desc
          - asc
          x-go-name: Order
          x-order: "20"
        x-go-name: Order
        x-order: "20"
      - name: cqs
        in: query
        description: Filter by cqs symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cqs
          x-order: '"5000"'
        x-go-name: Cqs
        x-order: '"5000"'
      - name: cik
        in: query
        description: Filter by cik code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cik
          x-order: '"5010"'
        x-go-name: Cik
        x-order: '"5010"'
      - name: cusip
        in: query
        description: Filter by cusip code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cusip
          x-order: '"5020"'
        x-go-name: Cusip
        x-order: '"5020"'
      - name: isin
        in: query
        description: Filter by isin code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Isin
          x-order: '"5030"'
        x-go-name: Isin
        x-order: '"5030"'
      - name: composite_figi
        in: query
        description: Filter by composite figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: CompositeFigi
          x-order: '"5040"'
        x-go-name: CompositeFigi
        x-order: '"5040"'
      - name: share_figi
        in: query
        description: Filter by share class figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: ShareFigi
          x-order: '"5050"'
        x-go-name: ShareFigi
        x-order: '"5050"'
      - name: lei
        in: query
        description: Filter by lei code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Lei
          x-order: '"5060"'
        x-go-name: Lei
        x-order: '"5060"'
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenzingaEarningsCalendarResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenzingaEarningsCalendarResponseBody'
      security:
      - api_key: []
      x-group: Dataset specific/Benzinga
      x-order: "20"
      x-short-url: "true"
  /benzinga/ipo:
    get:
      tags:
      - Data
      summary: IPO data
      description: Returns IPO data from Benzinga.
      operationId: GetBenzingaIPO
      parameters:
      - name: start_at
        in: query
        description: Filter events by start time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: StartAt
          x-order: "10"
        x-go-name: StartAt
        x-order: "10"
      - name: end_at
        in: query
        description: Filter events by end time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: EndAt
          x-order: "20"
        x-go-name: EndAt
        x-order: "20"
      - name: page
        in: query
        description: Specific page of a paginated result to be displayed
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
          x-go-name: Page
        x-go-name: Page
      - name: page_size
        in: query
        description: Number of items displayed per page in a paginated result
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          type: integer
          format: int32
          default: 100
          x-go-name: PageSize
        x-go-name: PageSize
      - name: order
        in: query
        description: Sorting order of the output series
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: asc
          enum:
          - desc
          - asc
          x-go-name: Order
          x-order: "40"
        x-go-name: Order
        x-order: "40"
      - name: exchange
        in: query
        description: Exchange where instrument is traded
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Exchange
          x-order: "30"
        x-go-name: Exchange
        x-order: "30"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenzingaIPOResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenzingaIPOResponseBody'
      security:
      - api_key: []
      x-group: Dataset specific/Benzinga
      x-order: "30"
      x-short-url: "true"
  /benzinga/news:
    get:
      tags:
      - Data
      summary: News articles
      description: Returns the news articles from Benzinga.
      operationId: GetBenzingaNews
      parameters:
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
          x-order: "10"
        x-go-name: Ticker
        x-order: "10"
      - name: date
        in: query
        description: Specifies the exact date to get the data for
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Date
        x-go-name: Date
      - name: start_at
        in: query
        description: Filter events by start time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: StartAt
        x-go-name: StartAt
      - name: end_at
        in: query
        description: Filter events by end time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: EndAt
        x-go-name: EndAt
      - name: page
        in: query
        description: Specific page of a paginated result to be displayed
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
          x-go-name: Page
        x-go-name: Page
      - name: page_size
        in: query
        description: Number of items displayed per page in a paginated result
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          type: integer
          format: int32
          default: 100
          x-go-name: PageSize
        x-go-name: PageSize
      - name: order
        in: query
        description: Sorting order of the output series
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: desc
          enum:
          - desc
          - asc
          x-go-name: Order
          x-order: "20"
        x-go-name: Order
        x-order: "20"
      - name: cqs
        in: query
        description: Filter by cqs symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cqs
          x-order: '"5000"'
        x-go-name: Cqs
        x-order: '"5000"'
      - name: cik
        in: query
        description: Filter by cik code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cik
          x-order: '"5010"'
        x-go-name: Cik
        x-order: '"5010"'
      - name: cusip
        in: query
        description: Filter by cusip code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cusip
          x-order: '"5020"'
        x-go-name: Cusip
        x-order: '"5020"'
      - name: isin
        in: query
        description: Filter by isin code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Isin
          x-order: '"5030"'
        x-go-name: Isin
        x-order: '"5030"'
      - name: composite_figi
        in: query
        description: Filter by composite figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: CompositeFigi
          x-order: '"5040"'
        x-go-name: CompositeFigi
        x-order: '"5040"'
      - name: share_figi
        in: query
        description: Filter by share class figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: ShareFigi
          x-order: '"5050"'
        x-go-name: ShareFigi
        x-order: '"5050"'
      - name: lei
        in: query
        description: Filter by lei code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Lei
          x-order: '"5060"'
        x-go-name: Lei
        x-order: '"5060"'
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenzingaNewsResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenzingaNewsResponseBody'
      security:
      - api_key: []
      x-group: Dataset specific/Benzinga
      x-order: "40"
      x-short-url: "true"
  /binance/price:
    get:
      tags:
      - Data
      summary: Price
      description: Returns price value for given binance ticker.
      operationId: GetPriceBinance
      parameters:
      - name: at
        in: query
        description: Filter by start time using a UNIX timestamp. If not specified
          - last price. Else - last price from 1min interval at the event_at <= at
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: At
          x-order: '"150"'
        x-go-name: At
        x-order: '"150"'
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
        x-go-name: Ticker
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/PriceResponseBody'
      security:
      - api_key: []
      x-beta: "true"
      x-group: Dataset specific/Binance
      x-order: "20"
  /binance/time_series:
    get:
      tags:
      - Data
      summary: Time series
      description: This endpoint returns a time series of data points for any given
        ticker.
      operationId: GetBinanceQuotes
      parameters:
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
          x-order: '"10"'
        x-go-name: Ticker
        x-order: '"10"'
      - name: interval
        in: query
        description: Interval between two consecutive points in time series
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - 1m
          - 2m
          - 3m
          - 4m
          - 5m
          - 10m
          - 15m
          - 20m
          - 30m
          - 45m
          - 1h
          - 2h
          - 3h
          - 4h
          - 8h
          - 12h
          - 1d
          - 1w
          - 1mo
          - 2mo
          - 3mo
          - 4mo
          x-go-name: Interval
          x-order: '"20"'
        x-go-name: Interval
        x-order: '"20"'
      - name: start_at
        in: query
        description: Filter output by start time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: StartAt
        x-go-name: StartAt
      - name: end_at
        in: query
        description: Filter output by end time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: EndAt
        x-go-name: EndAt
      - name: page
        in: query
        description: Specific page of a paginated result to be displayed
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
          x-go-name: Page
        x-go-name: Page
      - name: page_size
        in: query
        description: Number of items displayed per page in a paginated result
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 30
          x-go-name: PageSize
        x-go-name: PageSize
      - name: order
        in: query
        description: Sorting order of the output series
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: desc
          enum:
          - desc
          - asc
          x-go-name: Order
          x-order: '"30"'
        x-go-name: Order
        x-order: '"30"'
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuoteBinanceItem'
                x-content-type: application/json
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuoteBinanceItem'
      security:
      - api_key: []
      x-group: Dataset specific/Binance
      x-order: "10"
  /crypto/price:
    get:
      tags:
      - Data
      summary: Price
      description: Returns price value for given crypto ticker.
      operationId: GetPriceCrypto
      parameters:
      - name: at
        in: query
        description: Filter by start time using a UNIX timestamp. If not specified
          - last price. Else - last price from 1min interval at the event_at <= at
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: At
          x-order: '"150"'
        x-go-name: At
        x-order: '"150"'
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
        x-go-name: Ticker
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/PriceResponseBody'
      security:
      - api_key: []
      x-beta: "true"
      x-group: Dataset specific/Crypto
      x-order: "20"
  /crypto/time_series:
    get:
      tags:
      - Data
      summary: Time series
      description: This endpoint returns a time series of data points for any given
        ticker.
      operationId: GetCryptoQuotes
      parameters:
      - name: interval
        in: query
        description: Interval between two consecutive points in time series
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - 1m
          - 2m
          - 3m
          - 4m
          - 5m
          - 10m
          - 15m
          - 20m
          - 30m
          - 45m
          - 1h
          - 2h
          - 3h
          - 4h
          - 8h
          - 12h
          - 1d
          - 1w
          - 1mo
          - 2mo
          - 3mo
          - 4mo
          x-go-name: Interval
          x-order: "10"
        x-go-name: Interval
        x-order: "10"
      - name: start_at
        in: query
        description: Filter output by start time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: StartAt
        x-go-name: StartAt
      - name: end_at
        in: query
        description: Filter output by end time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: EndAt
        x-go-name: EndAt
      - name: page
        in: query
        description: Specific page of a paginated result to be displayed
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
          x-go-name: Page
        x-go-name: Page
      - name: page_size
        in: query
        description: Number of items displayed per page in a paginated result
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 30
          x-go-name: PageSize
        x-go-name: PageSize
      - name: order
        in: query
        description: Sorting order of the output series
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: desc
          enum:
          - desc
          - asc
          x-go-name: Order
          x-order: "20"
        x-go-name: Order
        x-order: "20"
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
          x-order: "0"
        x-go-name: Ticker
        x-order: "0"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuoteItem'
                x-content-type: application/json
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuoteItem'
      security:
      - api_key: []
      x-group: Dataset specific/Crypto
      x-order: "10"
  /datasets:
    get:
      tags:
      - Reference
      summary: List of Finazon datasets
      description: Returns a list of all datasets available at Finazon.
      operationId: GetDatasets
      parameters:
      - name: code
        in: query
        description: Filter by Finazon's dataset code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Code
        x-go-name: Code
      - name: page
        in: query
        description: Specific page of a paginated result to be displayed
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          x-go-name: Page
        x-go-name: Page
      - name: page_size
        in: query
        description: Number of items displayed per page in a paginated result
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 1000
          x-go-name: PageSize
        x-go-name: PageSize
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetsResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/DatasetsResponseBody'
      security:
      - api_key: []
      x-group: Reference data
      x-order: "10"
  /forex/price:
    get:
      tags:
      - Data
      summary: Forex price
      description: Returns price value for given forex ticker.
      operationId: GetPriceForex
      parameters:
      - name: at
        in: query
        description: Filter by start time using a UNIX timestamp. If not specified
          - last price. Else - last price from 1min interval at the event_at <= at
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: At
          x-order: '"150"'
        x-go-name: At
        x-order: '"150"'
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
        x-go-name: Ticker
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/PriceResponseBody'
      security:
      - api_key: []
      x-beta: "true"
      x-group: Dataset specific/Forex
      x-order: "20"
  /forex/time_series:
    get:
      tags:
      - Data
      summary: Time series
      description: This endpoint returns a time series of data points for any given
        ticker.
      operationId: GetForexQuotes
      parameters:
      - name: interval
        in: query
        description: Interval between two consecutive points in time series
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - 1m
          - 2m
          - 3m
          - 4m
          - 5m
          - 10m
          - 15m
          - 20m
          - 30m
          - 45m
          - 1h
          - 2h
          - 3h
          - 4h
          - 8h
          - 12h
          - 1d
          - 1w
          - 1mo
          - 2mo
          - 3mo
          - 4mo
          x-go-name: Interval
          x-order: "10"
        x-go-name: Interval
        x-order: "10"
      - name: start_at
        in: query
        description: Filter output by start time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: StartAt
        x-go-name: StartAt
      - name: end_at
        in: query
        description: Filter output by end time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: EndAt
        x-go-name: EndAt
      - name: page
        in: query
        description: Specific page of a paginated result to be displayed
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
          x-go-name: Page
        x-go-name: Page
      - name: page_size
        in: query
        description: Number of items displayed per page in a paginated result
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 30
          x-go-name: PageSize
        x-go-name: PageSize
      - name: order
        in: query
        description: Sorting order of the output series
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: desc
          enum:
          - desc
          - asc
          x-go-name: Order
          x-order: "20"
        x-go-name: Order
        x-order: "20"
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
          x-order: "0"
        x-go-name: Ticker
        x-order: "0"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuoteForexItem'
                x-content-type: application/json
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuoteForexItem'
      security:
      - api_key: []
      x-group: Dataset specific/Forex
      x-order: "10"
  /markets/crypto:
    get:
      tags:
      - Reference
      summary: List of crypto markets
      description: Returns a list of supported crypto markets.
      operationId: GetExchangesCrypto
      parameters:
      - name: page
        in: query
        description: Specific page of a paginated result to be displayed
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          x-go-name: Page
        x-go-name: Page
      - name: page_size
        in: query
        description: Number of items displayed per page in a paginated result
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 1000
          x-go-name: PageSize
        x-go-name: PageSize
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangesCryptoResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangesCryptoResponseBody'
      security:
      - api_key: []
      x-group: Reference data/Markets
      x-order: "10"
  /markets/stocks:
    get:
      tags:
      - Reference
      summary: List of stock markets
      description: Returns a list of supported stock markets.
      operationId: GetExchangesStocks
      parameters:
      - name: country
        in: query
        description: Filter by ISO 3166 alpha-2 code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Country
        x-go-name: Country
      - name: name
        in: query
        description: Filter by market name
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Name
        x-go-name: Name
      - name: code
        in: query
        description: Filter by market identifier code (MIC) under ISO 10383 standard
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Code
        x-go-name: Code
      - name: page
        in: query
        description: Specific page of a paginated result to be displayed
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          x-go-name: Page
        x-go-name: Page
      - name: page_size
        in: query
        description: Number of items displayed per page in a paginated result
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 1000
          x-go-name: PageSize
        x-go-name: PageSize
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangesStocksResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangesStocksResponseBody'
      security:
      - api_key: []
      x-group: Reference data/Markets
      x-order: "20"
  /my_datasets:
    get:
      summary: My Datasets
      description: Returns a list of datasets available for the workspace
      operationId: Reference
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetsResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/DatasetsResponseBody'
      security:
      - api_key: []
      x-beta: "false"
      x-group: Personal
  /price:
    get:
      tags:
      - Data
      summary: Price
      description: Returns price value for given ticker.
      operationId: GetPriceCommon
      parameters:
      - name: at
        in: query
        description: Filter by start time using a UNIX timestamp. If not specified
          - last price. Else - last price from 1min interval at the event_at <= at
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: At
          x-order: '"150"'
        x-go-name: At
        x-order: '"150"'
      - name: prepost
        in: query
        description: Indicates whether data should be included for extended hours
          of trading
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
          x-go-name: Prepost
          x-order: '"1000"'
        x-go-name: Prepost
        x-order: '"1000"'
      - name: cqs
        in: query
        description: Filter by cqs symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cqs
          x-order: '"5000"'
        x-go-name: Cqs
        x-order: '"5000"'
      - name: cik
        in: query
        description: Filter by cik code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cik
          x-order: '"5010"'
        x-go-name: Cik
        x-order: '"5010"'
      - name: cusip
        in: query
        description: Filter by cusip code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cusip
          x-order: '"5020"'
        x-go-name: Cusip
        x-order: '"5020"'
      - name: isin
        in: query
        description: Filter by isin code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Isin
          x-order: '"5030"'
        x-go-name: Isin
        x-order: '"5030"'
      - name: composite_figi
        in: query
        description: Filter by composite figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: CompositeFigi
          x-order: '"5040"'
        x-go-name: CompositeFigi
        x-order: '"5040"'
      - name: share_figi
        in: query
        description: Filter by share class figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: ShareFigi
          x-order: '"5050"'
        x-go-name: ShareFigi
        x-order: '"5050"'
      - name: lei
        in: query
        description: Filter by lei code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Lei
          x-order: '"5060"'
        x-go-name: Lei
        x-order: '"5060"'
      - name: dataset
        in: query
        description: Filter by Finazon's dataset code
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Dataset
          x-order: '"10"'
        x-go-name: Dataset
        x-order: '"10"'
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
          x-order: '"20"'
        x-go-name: Ticker
        x-order: '"20"'
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/PriceResponseBody'
      security:
      - api_key: []
      x-beta: "true"
      x-group: Market data
      x-order: "40"
  /publishers:
    get:
      tags:
      - Reference
      summary: List of Finazon publishers
      description: Returns a list of all publishers available at Finazon.
      operationId: GetPublishers
      parameters:
      - name: code
        in: query
        description: Filter by Finazon's publisher code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Code
        x-go-name: Code
      - name: page
        in: query
        description: Specific page of a paginated result to be displayed
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          x-go-name: Page
        x-go-name: Page
      - name: page_size
        in: query
        description: Number of items displayed per page in a paginated result
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 1000
          x-go-name: PageSize
        x-go-name: PageSize
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishersResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/PublishersResponseBody'
      security:
      - api_key: []
      x-group: Reference data
      x-order: "20"
  /sec/archive:
    get:
      tags:
      - Data
      summary: Filings
      description: "Real-time and historical access to all forms, filings, and exhibits\
        \ directly from the SEC's EDGAR system."
      operationId: GetFilings
      parameters:
      - name: cik_code
        in: query
        description: Filter by Central Index Key
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: Cik
        x-go-name: Cik
      - name: ticker
        in: query
        description: Filter by ticker
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
        x-go-name: Ticker
      - name: form_type
        in: query
        description: Filter by form types
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: FormType
        x-go-name: FormType
      - name: filled_from_ts
        in: query
        description: Filter by filled time from
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: FilledFromTs
        x-go-name: FilledFromTs
      - name: filled_to_ts
        in: query
        description: Filter by filled time to
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: FilledToTs
        x-go-name: FilledToTs
      - name: page
        in: query
        description: Specific page of a paginated result to be displayed
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
          x-go-name: Page
        x-go-name: Page
      - name: page_size
        in: query
        description: Number of items displayed per page in a paginated result
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          type: integer
          format: int32
          default: 10
          x-go-name: PageSize
        x-go-name: PageSize
      - name: cqs
        in: query
        description: Filter by cqs symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cqs
          x-order: '"5000"'
        x-go-name: Cqs
        x-order: '"5000"'
      - name: cusip
        in: query
        description: Filter by cusip code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cusip
          x-order: '"5020"'
        x-go-name: Cusip
        x-order: '"5020"'
      - name: isin
        in: query
        description: Filter by isin code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Isin
          x-order: '"5030"'
        x-go-name: Isin
        x-order: '"5030"'
      - name: composite_figi
        in: query
        description: Filter by composite figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: CompositeFigi
          x-order: '"5040"'
        x-go-name: CompositeFigi
        x-order: '"5040"'
      - name: share_figi
        in: query
        description: Filter by share class figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: ShareFigi
          x-order: '"5050"'
        x-go-name: ShareFigi
        x-order: '"5050"'
      - name: lei
        in: query
        description: Filter by lei code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Lei
          x-order: '"5060"'
        x-go-name: Lei
        x-order: '"5060"'
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Filing'
                x-content-type: application/json
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Filing'
      security:
      - api_key: []
      x-group: Dataset specific/SEC
  /sip/market_center:
    get:
      tags:
      - Reference
      summary: List of market centers
      description: Returns a list of market centers.
      operationId: GetMarketCenter
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketCenterResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/MarketCenterResponseBody'
      security:
      - api_key: []
      x-group: Dataset specific/SIP
      x-order: "10"
  /sip/trades:
    get:
      tags:
      - Data
      summary: SIP trades
      description: Returns detailed information on trades executed through the Securities
        Information Processor (SIP).
      operationId: GetSipTrades
      parameters:
      - name: cqs
        in: query
        description: Filter by cqs symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cqs
          x-order: '"5000"'
        x-go-name: Cqs
        x-order: '"5000"'
      - name: cik
        in: query
        description: Filter by cik code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cik
          x-order: '"5010"'
        x-go-name: Cik
        x-order: '"5010"'
      - name: cusip
        in: query
        description: Filter by cusip code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cusip
          x-order: '"5020"'
        x-go-name: Cusip
        x-order: '"5020"'
      - name: isin
        in: query
        description: Filter by isin code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Isin
          x-order: '"5030"'
        x-go-name: Isin
        x-order: '"5030"'
      - name: composite_figi
        in: query
        description: Filter by composite figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: CompositeFigi
          x-order: '"5040"'
        x-go-name: CompositeFigi
        x-order: '"5040"'
      - name: share_figi
        in: query
        description: Filter by share class figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: ShareFigi
          x-order: '"5050"'
        x-go-name: ShareFigi
        x-order: '"5050"'
      - name: lei
        in: query
        description: Filter by lei code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Lei
          x-order: '"5060"'
        x-go-name: Lei
        x-order: '"5060"'
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
          x-order: '"10"'
        x-go-name: Ticker
        x-order: '"10"'
      - name: market
        in: query
        description: Filter by market center
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Market
        x-go-name: Market
      - name: start_at
        in: query
        description: Filter trades by start time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: StartAt
        x-go-name: StartAt
      - name: end_at
        in: query
        description: Filter trades by end time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: EndAt
        x-go-name: EndAt
      - name: tape
        in: query
        description: Filter by tape
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - CQT-CTA-A-V2
          - CQT-CTA-B-V2
          - CQT-UTPBIN-V2
          x-go-name: Tape
        x-go-name: Tape
      - name: page
        in: query
        description: Specific page of a paginated result to be displayed
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 0
          x-go-name: Page
        x-go-name: Page
      - name: page_size
        in: query
        description: Number of items displayed per page in a paginated result
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          type: integer
          format: int64
          default: 10
          x-go-name: PageSize
        x-go-name: PageSize
      - name: order
        in: query
        description: Sorting order of the output series
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: DESC
          enum:
          - DESC
          - ASC
          x-go-name: Order
          x-order: '"20"'
        x-go-name: Order
        x-order: '"20"'
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SipTradesItem'
                x-content-type: application/json
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SipTradesItem'
      security:
      - api_key: []
      x-group: Dataset specific/SIP
      x-order: "20"
  /sip_non_pro/price:
    get:
      tags:
      - Data
      summary: Price
      description: Returns price value for given ticker.
      operationId: GetPriceSip
      parameters:
      - name: at
        in: query
        description: Filter by start time using a UNIX timestamp. If not specified
          - last price. Else - last price from 1min interval at the event_at <= at
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: At
          x-order: '"150"'
        x-go-name: At
        x-order: '"150"'
      - name: prepost
        in: query
        description: Indicates whether data should be included for extended hours
          of trading
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
          x-go-name: Prepost
          x-order: '"1000"'
        x-go-name: Prepost
        x-order: '"1000"'
      - name: cqs
        in: query
        description: Filter by cqs symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cqs
          x-order: '"5000"'
        x-go-name: Cqs
        x-order: '"5000"'
      - name: cik
        in: query
        description: Filter by cik code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cik
          x-order: '"5010"'
        x-go-name: Cik
        x-order: '"5010"'
      - name: cusip
        in: query
        description: Filter by cusip code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cusip
          x-order: '"5020"'
        x-go-name: Cusip
        x-order: '"5020"'
      - name: isin
        in: query
        description: Filter by isin code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Isin
          x-order: '"5030"'
        x-go-name: Isin
        x-order: '"5030"'
      - name: composite_figi
        in: query
        description: Filter by composite figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: CompositeFigi
          x-order: '"5040"'
        x-go-name: CompositeFigi
        x-order: '"5040"'
      - name: share_figi
        in: query
        description: Filter by share class figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: ShareFigi
          x-order: '"5050"'
        x-go-name: ShareFigi
        x-order: '"5050"'
      - name: lei
        in: query
        description: Filter by lei code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Lei
          x-order: '"5060"'
        x-go-name: Lei
        x-order: '"5060"'
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
        x-go-name: Ticker
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/PriceResponseBody'
      security:
      - api_key: []
      x-beta: "true"
      x-group: _hidden
      x-order: "50"
  /sip_pro/price:
    get:
      tags:
      - Data
      summary: Price
      description: Returns price value for given ticker.
      operationId: GetPriceSip
      parameters:
      - name: at
        in: query
        description: Filter by start time using a UNIX timestamp. If not specified
          - last price. Else - last price from 1min interval at the event_at <= at
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: At
          x-order: '"150"'
        x-go-name: At
        x-order: '"150"'
      - name: prepost
        in: query
        description: Indicates whether data should be included for extended hours
          of trading
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
          x-go-name: Prepost
          x-order: '"1000"'
        x-go-name: Prepost
        x-order: '"1000"'
      - name: cqs
        in: query
        description: Filter by cqs symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cqs
          x-order: '"5000"'
        x-go-name: Cqs
        x-order: '"5000"'
      - name: cik
        in: query
        description: Filter by cik code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cik
          x-order: '"5010"'
        x-go-name: Cik
        x-order: '"5010"'
      - name: cusip
        in: query
        description: Filter by cusip code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cusip
          x-order: '"5020"'
        x-go-name: Cusip
        x-order: '"5020"'
      - name: isin
        in: query
        description: Filter by isin code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Isin
          x-order: '"5030"'
        x-go-name: Isin
        x-order: '"5030"'
      - name: composite_figi
        in: query
        description: Filter by composite figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: CompositeFigi
          x-order: '"5040"'
        x-go-name: CompositeFigi
        x-order: '"5040"'
      - name: share_figi
        in: query
        description: Filter by share class figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: ShareFigi
          x-order: '"5050"'
        x-go-name: ShareFigi
        x-order: '"5050"'
      - name: lei
        in: query
        description: Filter by lei code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Lei
          x-order: '"5060"'
        x-go-name: Lei
        x-order: '"5060"'
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
        x-go-name: Ticker
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/PriceResponseBody'
      security:
      - api_key: []
      x-beta: "true"
      x-group: _hidden
      x-order: "50"
  /ticker/snapshot:
    get:
      tags:
      - Data
      summary: Ticker snapshot
      description: "This endpoint returns a combination of different data points,\
        \ such as daily performance, last quote, last trade, minute data, and previous\
        \ day performance."
      operationId: GetTickerSnapshot
      parameters:
      - name: cqs
        in: query
        description: Filter by cqs symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cqs
          x-order: '"5000"'
        x-go-name: Cqs
        x-order: '"5000"'
      - name: cik
        in: query
        description: Filter by cik code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cik
          x-order: '"5010"'
        x-go-name: Cik
        x-order: '"5010"'
      - name: cusip
        in: query
        description: Filter by cusip code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cusip
          x-order: '"5020"'
        x-go-name: Cusip
        x-order: '"5020"'
      - name: isin
        in: query
        description: Filter by isin code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Isin
          x-order: '"5030"'
        x-go-name: Isin
        x-order: '"5030"'
      - name: composite_figi
        in: query
        description: Filter by composite figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: CompositeFigi
          x-order: '"5040"'
        x-go-name: CompositeFigi
        x-order: '"5040"'
      - name: share_figi
        in: query
        description: Filter by share class figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: ShareFigi
          x-order: '"5050"'
        x-go-name: ShareFigi
        x-order: '"5050"'
      - name: lei
        in: query
        description: Filter by lei code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Lei
          x-order: '"5060"'
        x-go-name: Lei
        x-order: '"5060"'
      - name: dataset
        in: query
        description: Filter by Finazon's dataset code
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Dataset
        x-go-name: Dataset
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
        x-go-name: Ticker
      - name: market
        in: query
        description: Filter by market
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Market
        x-go-name: Market
      - name: country
        in: query
        description: Filter by ISO 3166 alpha-2 code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Country
        x-go-name: Country
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
            application/xml:
              schema:
                $ref: '#/components/schemas/inline_response_200'
      security:
      - api_key: []
      x-group: Market data
      x-order: "10"
  /tickers/crypto:
    get:
      tags:
      - Reference
      summary: List of crypto pairs
      description: Returns a list of cryptocurrency ticker symbols (pairs). This list
        is updated daily.
      operationId: GetSymbolsCrypto
      parameters:
      - name: dataset
        in: query
        description: Filter by Finazon's dataset code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Dataset
        x-go-name: Dataset
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
        x-go-name: Ticker
      - name: page
        in: query
        description: Specific page of a paginated result to be displayed
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          x-go-name: Page
        x-go-name: Page
      - name: page_size
        in: query
        description: Number of items displayed per page in a paginated result
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 1000
          x-go-name: PageSize
        x-go-name: PageSize
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolsCryptoResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/SymbolsCryptoResponseBody'
      security:
      - api_key: []
      x-group: Reference data/Tickers
      x-order: "10"
  /tickers/forex:
    get:
      tags:
      - Reference
      summary: List of forex ticker symbols
      description: Returns a list of forex ticker symbols (pairs). This list is updated
        daily.
      operationId: GetSymbolsForex
      parameters:
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
        x-go-name: Ticker
      - name: page
        in: query
        description: Specific page of a paginated result to be displayed
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          x-go-name: Page
        x-go-name: Page
      - name: page_size
        in: query
        description: Number of items displayed per page in a paginated result
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 1000
          x-go-name: PageSize
        x-go-name: PageSize
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolsForexResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/SymbolsForexResponseBody'
      security:
      - api_key: []
      x-group: Reference data/Tickers
      x-order: "20"
  /tickers/stocks:
    get:
      tags:
      - Reference
      summary: List of stock ticker symbols
      description: Returns a list of stock ticker symbols. This list is updated daily.
      operationId: GetSymbolsStocks
      parameters:
      - name: cqs
        in: query
        description: Filter by cqs symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cqs
          x-order: '"5000"'
        x-go-name: Cqs
        x-order: '"5000"'
      - name: cik
        in: query
        description: Filter by cik code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cik
          x-order: '"5010"'
        x-go-name: Cik
        x-order: '"5010"'
      - name: cusip
        in: query
        description: Filter by cusip code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cusip
          x-order: '"5020"'
        x-go-name: Cusip
        x-order: '"5020"'
      - name: isin
        in: query
        description: Filter by isin code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Isin
          x-order: '"5030"'
        x-go-name: Isin
        x-order: '"5030"'
      - name: composite_figi
        in: query
        description: Filter by composite figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: CompositeFigi
          x-order: '"5040"'
        x-go-name: CompositeFigi
        x-order: '"5040"'
      - name: share_figi
        in: query
        description: Filter by share class figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: ShareFigi
          x-order: '"5050"'
        x-go-name: ShareFigi
        x-order: '"5050"'
      - name: lei
        in: query
        description: Filter by lei code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Lei
          x-order: '"5060"'
        x-go-name: Lei
        x-order: '"5060"'
      - name: dataset
        in: query
        description: Filter by Finazon's dataset code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Dataset
        x-go-name: Dataset
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
        x-go-name: Ticker
      - name: page
        in: query
        description: Specific page of a paginated result to be displayed
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          x-go-name: Page
        x-go-name: Page
      - name: page_size
        in: query
        description: Number of items displayed per page in a paginated result
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 1000
          x-go-name: PageSize
        x-go-name: PageSize
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolsStocksResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/SymbolsStocksResponseBody'
      security:
      - api_key: []
      x-group: Reference data/Tickers
      x-order: "30"
  /tickers/us_stocks:
    get:
      tags:
      - Reference
      summary: List of US stock ticker symbols
      description: Returns a list of US stock ticker symbols. This list is updated
        daily.
      operationId: GetSymbolsUSStocks
      parameters:
      - name: cqs
        in: query
        description: Filter by cqs symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cqs
          x-order: '"5000"'
        x-go-name: Cqs
        x-order: '"5000"'
      - name: cik
        in: query
        description: Filter by cik code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cik
          x-order: '"5010"'
        x-go-name: Cik
        x-order: '"5010"'
      - name: cusip
        in: query
        description: Filter by cusip code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cusip
          x-order: '"5020"'
        x-go-name: Cusip
        x-order: '"5020"'
      - name: isin
        in: query
        description: Filter by isin code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Isin
          x-order: '"5030"'
        x-go-name: Isin
        x-order: '"5030"'
      - name: composite_figi
        in: query
        description: Filter by composite figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: CompositeFigi
          x-order: '"5040"'
        x-go-name: CompositeFigi
        x-order: '"5040"'
      - name: share_figi
        in: query
        description: Filter by share class figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: ShareFigi
          x-order: '"5050"'
        x-go-name: ShareFigi
        x-order: '"5050"'
      - name: lei
        in: query
        description: Filter by lei code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Lei
          x-order: '"5060"'
        x-go-name: Lei
        x-order: '"5060"'
      - name: page
        in: query
        description: Specific page of a paginated result to be displayed
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          x-go-name: Page
        x-go-name: Page
      - name: page_size
        in: query
        description: Number of items displayed per page in a paginated result
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 1000
          x-go-name: PageSize
        x-go-name: PageSize
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
        x-go-name: Ticker
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolsUSStocksResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/SymbolsUSStocksResponseBody'
      security:
      - api_key: []
      x-group: Reference data/Tickers
      x-order: "40"
  /time_series:
    get:
      tags:
      - Data
      summary: Time series
      description: This endpoint returns a time series of data points for any given
        ticker.
      operationId: GetQuotes
      parameters:
      - name: cqs
        in: query
        description: Filter by cqs symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cqs
          x-order: '"5000"'
        x-go-name: Cqs
        x-order: '"5000"'
      - name: cik
        in: query
        description: Filter by cik code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cik
          x-order: '"5010"'
        x-go-name: Cik
        x-order: '"5010"'
      - name: cusip
        in: query
        description: Filter by cusip code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cusip
          x-order: '"5020"'
        x-go-name: Cusip
        x-order: '"5020"'
      - name: isin
        in: query
        description: Filter by isin code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Isin
          x-order: '"5030"'
        x-go-name: Isin
        x-order: '"5030"'
      - name: composite_figi
        in: query
        description: Filter by composite figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: CompositeFigi
          x-order: '"5040"'
        x-go-name: CompositeFigi
        x-order: '"5040"'
      - name: share_figi
        in: query
        description: Filter by share class figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: ShareFigi
          x-order: '"5050"'
        x-go-name: ShareFigi
        x-order: '"5050"'
      - name: lei
        in: query
        description: Filter by lei code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Lei
          x-order: '"5060"'
        x-go-name: Lei
        x-order: '"5060"'
      - name: dataset
        in: query
        description: Filter by Finazon's dataset code
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Dataset
          x-order: '"10"'
        x-go-name: Dataset
        x-order: '"10"'
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
          x-order: '"20"'
        x-go-name: Ticker
        x-order: '"20"'
      - name: interval
        in: query
        description: Interval between two consecutive points in time series
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - 1m
          - 2m
          - 3m
          - 4m
          - 5m
          - 10m
          - 15m
          - 20m
          - 30m
          - 45m
          - 1h
          - 2h
          - 3h
          - 4h
          - 8h
          - 12h
          - 1d
          - 1w
          - 1mo
          - 2mo
          - 3mo
          - 4mo
          x-go-name: Interval
          x-order: '"30"'
        x-go-name: Interval
        x-order: '"30"'
      - name: market
        in: query
        description: Filter by market
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Market
        x-go-name: Market
      - name: country
        in: query
        description: Filter by ISO 3166 alpha-2 code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Country
        x-go-name: Country
      - name: start_at
        in: query
        description: Filter output by start time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: StartAt
        x-go-name: StartAt
      - name: end_at
        in: query
        description: Filter output by end time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: EndAt
        x-go-name: EndAt
      - name: page
        in: query
        description: Specific page of a paginated result to be displayed
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
          x-go-name: Page
        x-go-name: Page
      - name: page_size
        in: query
        description: Number of items displayed per page in a paginated result
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 30
          x-go-name: PageSize
        x-go-name: PageSize
      - name: order
        in: query
        description: Sorting order of the output series
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: desc
          enum:
          - desc
          - asc
          x-go-name: Order
          x-order: '"40"'
        x-go-name: Order
        x-order: '"40"'
      - name: prepost
        in: query
        description: Indicates whether data should be included for extended hours
          of trading
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
          x-go-name: Prepost
        x-go-name: Prepost
      - name: adjust
        in: query
        description: "Apply adjusting for data (all, splits, dividends, none)"
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: all
          x-go-name: Adjust
        x-go-name: Adjust
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuoteItem'
                x-content-type: application/json
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuoteItem'
      security:
      - api_key: []
      x-group: Market data
      x-order: "20"
  /time_series/atr:
    get:
      tags:
      - technical_indicator
      - Data
      summary: ATR Technical indicators
      description: "The Average True Range (ATR) is a volatility indicator that measures\
        \ the average range of price movement over a specified period, helping traders\
        \ assess market volatility."
      operationId: GetTechnicalIndicatorAtr
      parameters:
      - name: cqs
        in: query
        description: Filter by cqs symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cqs
          x-order: '"5000"'
        x-go-name: Cqs
        x-order: '"5000"'
      - name: cik
        in: query
        description: Filter by cik code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cik
          x-order: '"5010"'
        x-go-name: Cik
        x-order: '"5010"'
      - name: cusip
        in: query
        description: Filter by cusip code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cusip
          x-order: '"5020"'
        x-go-name: Cusip
        x-order: '"5020"'
      - name: isin
        in: query
        description: Filter by isin code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Isin
          x-order: '"5030"'
        x-go-name: Isin
        x-order: '"5030"'
      - name: composite_figi
        in: query
        description: Filter by composite figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: CompositeFigi
          x-order: '"5040"'
        x-go-name: CompositeFigi
        x-order: '"5040"'
      - name: share_figi
        in: query
        description: Filter by share class figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: ShareFigi
          x-order: '"5050"'
        x-go-name: ShareFigi
        x-order: '"5050"'
      - name: lei
        in: query
        description: Filter by lei code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Lei
          x-order: '"5060"'
        x-go-name: Lei
        x-order: '"5060"'
      - name: dataset
        in: query
        description: Filter by Finazon's dataset code
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Dataset
          x-order: '"10"'
        x-go-name: Dataset
        x-order: '"10"'
      - name: ticker
        in: query
        description: Filter by ticker symbol
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Ticker
          x-order: '"20"'
        x-go-name: Ticker
        x-order: '"20"'
      - name: interval
        in: query
        description: Interval between two consecutive points in time series
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - 1m
          - 2m
          - 3m
          - 4m
          - 5m
          - 10m
          - 15m
          - 20m
          - 30m
          - 45m
          - 1h
          - 2h
          - 3h
          - 4h
          - 8h
          - 12h
          - 1d
          - 1w
          - 1mo
          - 2mo
          - 3mo
          - 4mo
          x-go-name: Interval
          x-order: '"30"'
        x-go-name: Interval
        x-order: '"30"'
      - name: market
        in: query
        description: Filter by market
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Market
        x-go-name: Market
      - name: country
        in: query
        description: Filter by ISO 3166 alpha-2 code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Country
        x-go-name: Country
      - name: start_at
        in: query
        description: Filter output by start time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: StartAt
        x-go-name: StartAt
      - name: end_at
        in: query
        description: Filter output by end time using a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: EndAt
        x-go-name: EndAt
      - name: page
        in: query
        description: Specific page of a paginated result to be displayed
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
          x-go-name: Page
        x-go-name: Page
      - name: page_size
        in: query
        description: Number of items displayed per page in a paginated result
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 30
          x-go-name: PageSize
        x-go-name: PageSize
      - name: order
        in: query
        description: Sorting order of the output series
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: desc
          enum:
          - desc
          - asc
          x-go-name: Order
          x-order: '"40"'
        x-go-name: Order
        x-order: '"40"'
      - name: prepost
        in: query
        description: Indicates whether data should be included for extended hours
          of trading
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
          x-go-name: Prepost
        x-go-name: Prepost
      - name: adjust
        in: query
        description: "Apply adjusting for data (all, splits, dividends, none)"
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: all
          x-go-name: Adjust
        x-go-name: Adjust
      - name: time_period
        in: query
        description: Number of periods to average over.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 14
          x-go-name: TimePeriod
        x-go-name: TimePeriod
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TechnicalIndicatorResponseAtr'
                x-content-type: application/json
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TechnicalIndicatorResponseAtr'
      security:
      - api_key: []
      x-group: Market data/Technical indicators
      x-order: "10"
  /time_series/bbands:
    get:
      tags:
      - technical_indicator
      - Data
      summary: Overlap Studies
      description: "Bollinger Bands (BBANDS) are volatility bands placed above and\
        \ below a moving average, measuring price volatility and helping traders identify\
        \ potential overbought or oversold conditions."
      operationId: GetTechnicalIndicatorBBands
      parameters:
      - name: cqs
        in: query
        description: Filter by cqs symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cqs
          x-order: '"5000"'
        x-go-name: Cqs
        x-order: '"5000"'
      - name: cik
        in: query
        description: Filter by cik code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cik
          x-order: '"5010"'
        x-go-name: Cik
        x-order: '"5010"'
      - name: cusip
        in: query
        description: Filter by cusip code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cusip
          x-order: '"5020"'
        x-go-name: Cusip
        x-order: '"5020"'
      - name: isin
        in: query
        description: Filter by isin code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Isin
          x-order: '"5030"'
        x-go-name: Isin
        x-order: '"5030"'
      - name: composite_figi
        in: query
        description: Filter by composite figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: CompositeFigi
          x-order: '"5040"'
        x-go-name: CompositeFigi
        x-order: '"5040"'
      - name: share_figi
        in: query
        description: Filter by share class figi code
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: ShareFigi
          x-order: '"5050"'
        x-go-name: ShareFigi
        x-order: '"5050"'
      - name: lei
        in: query
        description: Filter by lei code
        required: false
        style: form
[...]
